<a href="https://colab.research.google.com/github/UIT-21520916/NCKH/blob/task2/bin_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import array as arr
import warnings
import seaborn as sns
from importlib import reload
import matplotlib.pyplot as plt
import matplotlib



pd.set_option('display.max_columns', None) 
pd.set_option('display.max_rows', 500) 
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', None)

warnings.filterwarnings('ignore')

In [ ]:

header_list =['srcip','sport','dstip','dsport','proto','state','dur','sbytes','dbytes','sttl','dttl','sloss','dloss','service','Sload','Dload','Spkts','Dpkts','swin','dwin','stcpb','dtcpb','smeansz','dmeansz','trans_depth','res_bdy_len','Sjit','Djit','Stime','Ltime','Sintpkt','Dintpkt','tcprtt','synack','ackdat','is_sm_ips_ports','ct_state_ttl','ct_flw_http_mthd','is_ftp_login','ct_ftp_cmd','ct_srv_src','ct_srv_dst','ct_dst_ltm','ct_src_ltm','ct_src_dport_ltm','ct_dst_sport_ltm','ct_dst_src_ltm','attack_cat','Label']

with open('/home/UNSW-NB15_1.csv') as f1:
  d1 = pd.read_csv(f1, names=header_list)
 
with open('/home/UNSW-NB15_2.csv') as f2:
  d2 = pd.read_csv(f2, names=header_list)

data1=pd.concat([d1,d2],axis=0, ignore_index=True)

with open('/home/UNSW-NB15_3.csv') as f3:
  d3 = pd.read_csv(f3, names=header_list)
with open('/home/UNSW-NB15_4.csv') as f4:
  d4 = pd.read_csv(f4, names=header_list )

data2=pd.concat([d3,d4],axis=0, ignore_index=True)

data=pd.concat([data1,data2],axis=0, ignore_index=True)
print(data)
data.to_csv('/home/output.csv', index=False)

In [ ]:
df = pd.read_csv('/home/output.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2540047 entries, 0 to 2540046
Data columns (total 49 columns):
 #   Column            Dtype
---  ------            -----
 0   srcip             object
 1   sport             object
 2   dstip             object
 3   dsport            object
 4   proto             object
 5   state             object
 6   dur               float64
 7   sbytes            int64
 8   dbytes            int64
 9   sttl              int64
 10  dttl              int64
 11  sloss             int64
 12  dloss             int64
 13  service           object
 14  Sload             float64
 15  Dload             float64
 16  Spkts             int64
 17  Dpkts             int64
 18  swin              int64
 19  dwin              int64
 20  stcpb             int64
 21  dtcpb             int64
 22  smeansz           int64
 23  dmeansz           int64
 24  trans_depth       int64
 25  res_bdy_len       int64
 26  Sjit              float64
 27  Djit              float64
 28  Stime             int64
 29  Ltime             int64
 30  Sintpkt           float64
 31  Dintpkt           float64
 32  tcprtt            float64
 33  synack            float64
 34  ackdat            float64
 35  is_sm_ips_ports   int64
 36  ct_state_ttl      int64
 37  ct_flw_http_mthd  float64
 38  is_ftp_login      float64
 39  ct_ftp_cmd        object
 40  ct_srv_src        int64
 41  ct_srv_dst        int64
 42  ct_dst_ltm        int64
 43  ct_src_ltm        int64
 44  ct_src_dport_ltm  int64
 45  ct_dst_sport_ltm  int64
 46  ct_dst_src_ltm    int64
 47  attack_cat        object
 48  Label             int64
dtypes: float64(12), int64(28), object(9)
memory usage: 949.6+ MB

In [ ]:
df.describe(include='all')

In [ ]:
# df = df.replace([np.inf,-np.inf], np.nan)
# df.replace([np.inf, -np.inf], 0, inplace=True)
df=df.fillna(-1000)

In [ ]:
from sklearn.preprocessing import LabelEncoder
list_drop = ['attack_cat']
df.drop(list_drop,axis=1,inplace=True)

In [ ]:
df_cat = df.select_dtypes(exclude=[np.number]) 
df_cat.describe(include='all')

             srcip    sport          dstip   dsport    proto    state  service ct_ftp_cmd
count      2540047  2540047        2540047  2540047  2540047  2540047  2540047    2540047
unique          43   100341             47   128310      135       16       13         13
top     59.166.0.4     1043  149.171.126.3       53      tcp      FIN        -
freq        197959   216289         197771   618507  1495074  1478689  1246397    1429879

In [ ]:
for feature in df_cat.columns:
    le = LabelEncoder()
    df[feature]=df[feature].astype(str)
    df[feature] = le.fit_transform(df[feature])

In [ ]:
from sklearn.model_selection import train_test_split

X = df.iloc[:,:-1]
y = df.iloc[:,-1]

feature_names = X.columns

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4,  random_state = 0, stratify=y)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 100,n_jobs=-1,random_state=0,bootstrap=True,).fit(X_train,y_train)

y_predictions = model.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_predictions))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    887506
           1       0.99      0.98      0.99    128513

    accuracy                           1.00   1016019
   macro avg       0.99      0.99      0.99   1016019
weighted avg       1.00      1.00      1.00   1016019

# New Section